<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="40027" android:versionName="3.102.342" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" package="com.oppo.camera" platformBuildVersionCode="30" platformBuildVersionName="11">
    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="29"/>
    <permission android:name="com.coloros.camera.sandbox.permission.SANDBOX_PROVIDER" android:protectionLevel="signatureOrSystem"/>
    <original-package android:name="com.oppo.camera"/>
    <uses-permission android:name="mediatek.permission.ACCESS_APU_SYS"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.SYSTEM_CAMERA"/>
    <uses-permission android:name="android.permission.MANAGE_APP_OPS_MODES"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"/>
    <uses-permission android:name="com.oppo.gallery3d.permission.PROVIDER"/>
    <uses-permission android:name="com.oppo.permission.OCLICK"/>
    <uses-permission android:name="oppo.permission.APP_SETTING"/>
    <uses-permission android:name="android.permission.CONTROL_KEYGUARD"/>
    <uses-permission android:name="oppo.permission.OPPO_COMPONENT_SAFE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CONTROL_DISPLAY_BRIGHTNESS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MANAGE_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.STATUS_BAR_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="heytap.speechassist.permission.FLOAT_WINDOW_STATUS"/>
    <uses-permission android:name="com.oppo.permission.safe.SECURITY"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="com.coloros.videoeditor.camera.permission.TEMPLATE"/>
    <supports-screens android:anyDensity="true" android:smallScreens="false" android:normalScreens="true" android:largeScreens="true"/>
    <uses-permission android:name="com.oppo.permission.safe.LOG"/>
    <application android:label="@string/camera_app_name" android:icon="@drawable/ic_launcher_camera" android:name="com.oppo.camera.MyApplication" android:allowBackup="false" android:logo="@drawable/ic_launcher_camera" android:largeHeap="true" android:supportsRtl="true" android:usesCleartextTraffic="true" android:maxAspectRatio="2.2" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:forceQueryable="true">
        <meta-data android:name="versionCommit" android:value="0c897f1"/>
        <meta-data android:name="versionDate" android:value="210513"/>
        <meta-data android:name="AppCode" android:value="20009"/>
        <meta-data android:name="upgrade_product_code" android:value="20194"/>
        <meta-data android:name="color_material_enable" android:value="true"/>
        <meta-data android:name="OppoPermissionKey" android:value="@string/permission_key"/>
        <meta-data android:name="AppPlatformKey" android:value="@string/app_platform_key"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:theme="@style/ThemeCamera" android:label="@string/camera_app_name" android:name="com.oppo.camera.Camera" android:taskAffinity="com.oppo.camera" android:clearTaskOnLaunch="true" android:launchMode="singleTop" android:screenOrientation="portrait" android:configChanges="mcc|mnc|keyboard|keyboardHidden|navigation|orientation|uiMode|screenSize|smallestScreenSize|fontScale" android:windowSoftInputMode="adjustUnspecified|stateUnchanged|stateHidden|stateAlwaysHidden|adjustPan" android:resizeableActivity="false" android:visibleToInstantApps="true" android:showWhenLocked="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE_SECURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA_SECURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.oppo.action.CAMERA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.oppo.action.VIDEO_CAMERA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.oppo.camera.action.fastcapture.sandbox"/>
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
            <meta-data android:name="com.android.keyguard.layout" android:resource="@layout/start_fake_layout"/>
        </activity>
        <activity android:theme="@style/ThemeCamera" android:label="@string/camera_app_name" android:name="com.oppo.camera.CameraImageActivity" android:taskAffinity="com.oppo.camera" android:clearTaskOnLaunch="true" android:launchMode="singleTop" android:screenOrientation="portrait" android:configChanges="mcc|mnc|keyboard|keyboardHidden|navigation|orientation|uiMode|screenSize" android:windowSoftInputMode="adjustUnspecified|stateUnchanged|stateHidden|stateAlwaysHidden|adjustPan" android:resizeableActivity="false" android:visibleToInstantApps="true">
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.VOICE"/>
            </intent-filter>
            <meta-data android:name="com.android.keyguard.layout" android:resource="@layout/start_fake_layout"/>
        </activity>
        <activity android:theme="@style/AppNoTitleTheme.PreferenceFragment" android:label="@string/camera_setting_advanced_setting" android:name="com.oppo.camera.ui.menu.setting.CameraSubSettingActivity" android:enabled="true" android:exported="false" android:excludeFromRecents="true" android:launchMode="singleTop" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="oppo.intent.action.APP_SUB_SETTING"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/AppNoTitleTheme.PreferenceFragment" android:label="@string/camera_slogan_title" android:name="com.oppo.camera.ui.menu.setting.CameraPhotoSloganSettingActivity" android:enabled="true" android:exported="false" android:excludeFromRecents="true" android:launchMode="singleTop" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="oppo.intent.action.APP_PHOTO_SLOGAN_SETTING"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/AppNoTitleTheme.PreferenceFragment" android:label="@string/camera_codec_title" android:name="com.oppo.camera.ui.menu.setting.CameraCodeSettingActivity" android:enabled="true" android:exported="false" android:excludeFromRecents="true" android:launchMode="singleTop" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="oppo.intent.action.APP_CODE_SETTING"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/AppNoTitleTheme.PreferenceFragment" android:icon="@drawable/ic_camera_setting" android:name="com.oppo.camera.ui.menu.setting.CameraSettingActivity" android:permission="oppo.permission.OPPO_COMPONENT_SAFE" android:exported="false" android:launchMode="singleTop" android:screenOrientation="portrait" android:resizeableActivity="true" android:showWhenLocked="true">
            <intent-filter>
                <action android:name="oppo.intent.action.APP_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.oppo.camera.action.SETTING_MENU"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="com.android.settings.APP_PRIORITY" android:value="30010"/>
        </activity>
        <activity android:theme="@style/AppNoTitleTheme.PreferenceFragment" android:label="@string/camera_slogan_title" android:name="com.oppo.camera.ui.menu.setting.CameraSloganSettingActivity" android:permission="oppo.permission.OPPO_COMPONENT_SAFE" android:enabled="true" android:exported="false" android:excludeFromRecents="true" android:launchMode="singleTop" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="oppo.intent.action.APP_SLOGAN_SETTING"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/AppNoTitleTheme.PreferenceFragment" android:label="@string/camera_setting_video_ratio" android:name="com.oppo.camera.ui.menu.setting.CameraVideoRatioSettingActivity" android:permission="oppo.permission.OPPO_COMPONENT_SAFE" android:enabled="true" android:exported="false" android:excludeFromRecents="true" android:launchMode="singleTop" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="oppo.intent.action.APP_VIDEO_RATIO_SETTING"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <receiver android:name="com.oppo.camera.CameraButtonIntentReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.CAMERA_BUTTON"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.oppo.camera.update.UpdateReceiver" android:permission="oppo.permission.OPPO_COMPONENT_SAFE">
            <intent-filter>
                <action android:name="oppo.intent.action.ROM_UPDATE_CONFIG_SUCCESS"/>
                <action android:name="oppo.intent.action.OPPO_OTA_UPDATE_SUCCESSED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.oppo.camera.tuningupgrade.TuningParameterUpgradeReceiver" android:permission="oppo.permission.OPPO_COMPONENT_SAFE">
            <intent-filter>
                <action android:name="com.coloros.sau.DATARES_UPDATE"/>
            </intent-filter>
        </receiver>
        <activity android:theme="@style/ThemeCamera" android:label="@string/camera_video_name" android:icon="@drawable/ic_launcher_videocamera" android:name="com.oppo.camera.VideoCamera" android:taskAffinity="com.oppo.camera" android:clearTaskOnLaunch="true" android:launchMode="singleTop" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation|uiMode|screenSize" android:windowSoftInputMode="adjustUnspecified|stateUnchanged|stateHidden|stateAlwaysHidden|adjustPan" android:visibleToInstantApps="true">
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAMERA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAPTURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <receiver android:name="com.oppo.camera.DebugBroadcastReceiver" android:permission="oppo.permission.OPPO_COMPONENT_SAFE">
            <intent-filter>
                <action android:name="com.oppo.engineermode.EngineerModeMain"/>
            </intent-filter>
        </receiver>
        <service android:name="com.oppo.camera.aps.service.ApsService" android:permission="oppo.permission.OPPO_COMPONENT_SAFE" android:enabled="true" android:exported="false"/>
        <provider android:name="com.oppo.camera.sticker.provider.StickerProvider" android:permission="oppo.permission.OPPO_COMPONENT_SAFE" android:exported="false" android:authorities="com.oppo.camera.sticker.db.provider"/>
        <service android:name="com.oppo.camera.sticker.download.thumbnail.ThumbDownloadService" android:permission="oppo.permission.OPPO_COMPONENT_SAFE" android:exported="false"/>
        <service android:name="com.oppo.camera.tuningupgrade.TuningParameterUpgradeService" android:permission="oppo.permission.OPPO_COMPONENT_SAFE" android:exported="false"/>
        <provider android:name="com.oppo.camera.sticker.provider.FileProvider" android:permission="oppo.permission.OPPO_COMPONENT_SAFE" android:exported="false" android:authorities="com.oppo.camera.providers.sticker.file.provider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_file_paths"/>
        </provider>
        <provider android:name="com.oppo.camera.entry.EntryProvider" android:exported="true" android:authorities="com.oppo.camera.entry"/>
        <provider android:name="androidx.core.content.FileProvider" android:exported="false" android:authorities="com.oppo.camera.gallery.cache.fileprovider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_gallery_file_paths"/>
        </provider>
        <provider android:name="com.oppo.camera.util.storage.SandBoxContentProvider" android:permission="com.coloros.camera.sandbox.permission.SANDBOX_PROVIDER" android:exported="true" android:authorities="com.oppo.camera.gallery.cache.provider"/>
        <provider android:name="com.heytap.apiadapter.provider.ApiAdapterProvider" android:exported="false" android:multiprocess="false" android:authorities="com.oppo.camera.apiadapter" android:directBootAware="true"/>
        <provider android:name="com.heytap.tingle.ipc.internal.TingleProvider" android:exported="false" android:multiprocess="true" android:authorities="com.oppo.camera.tingle" android:directBootAware="true"/>
        <provider android:name="com.heytap.epona.internal.EponaProvider" android:permission="com.oppo.permission.safe.SECURITY" android:exported="true" android:multiprocess="true" android:authorities="com.oppo.camera.epona" android:directBootAware="true"/>
        <service android:name="androidx.room.MultiInstanceInvalidationService" android:exported="false" android:directBootAware="true"/>
    </application>
</manifest>
